.layout {
	position: absolute;
	width: 60%;
	margin-left: 10%;
	margin-top: 2%;
}

.alinhamento {
	width: 70%;
	position: absolute;
	padding-bottom: 0.4%;
	margin-top: 0%;
	right: 0;
	text-align: left;
}

.layout {
	top: 0%;
	border-bottom: 2px solid #000;
}

.local {
	margin-top: 2% !important;
	margin-left: 10%;
	width: 80%;
	min-height: 10%;
	position: absolute;
	height: 60%;
	overflow: auto;
}

.pesquisa {
	margin-left: 15%;
	margin-top: 12%;
}

input {
	width: 400px;
	height: 35px;
	border-radius: 10px;
	padding: 0 0 0 35px;
	background-image: url("../../Imagens/locais/lupa.png");
	background-position: 10px;
	background-repeat: no-repeat;
	background-size: 20px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tabela {
	width: 100%;
	text-align: center;
}

.itens {
	margin-top: 5%;
}

.linha {
	width: 100%;
	display: flex !important;
	justify-content: space-around;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 10px 0 10px 0;
	margin-top: 10px;
}

td {
	width: 20%;
}

@media screen and (max-width: 715px) {
	.pesquisa {
		margin-top: 18%;
	}
}

@media screen and (max-width: 550px) {
	.botoes {
		display: none !important;
	}

	input {
		width: 300px;
	}

	.layout {
		width: 80%;
	}

	.alinhamento {
		width: 90%;
		margin-top: 10%;
		margin-right: 5%;
	}
}